[Desktop Entry]
Name=Xpertmud
Name[pl]=Xpertmud
GenericName=Xpertmud - extensible MUD client
GenericName[pl]=Xpertmud - elastyczny klient MUD
Type=Application
Exec=xpertmud %i -caption "%c"  
Icon=xpertmud
DocPath=xpertmud/index.html
Terminal=false
Categories=Qt;KDE;Game;RolePlaying;
# vi: encoding=utf-8
